

<div class="container-fluid">

  <!-- Page Heading -->

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
           <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-primary">Services</h6>
           </div>
             
              <div class="row mt-5">
  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m6 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="../../../../../assets/uploads/appartement-photo.jpg" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
        
      </div>
    </div>
    <div class="w3-col m6 w3-margin-bottom">
      <div class="w3-light-white">
       <p>
       
Bienvenue sur LOY HAVEN, votre plateforme de location d'appartements en ligne.Inscrivez-vous pour accéder à une large sélection d'appartements disponibles à la location. 
Vous pouvez contacter directement les propriétaires des appartements qui vous intéressent grâce à notre système de messagerie intégré.
Notre équipe d'administration est là pour répondre à vos questions et vous assister tout au long du processus de location.
Que vous recherchiez un studio, un appartement familial spacieux ou un penthouse avec vue, LOY HAVEN est là pour vous aider à trouver votre prochain chez-vous. 
Inscrivez-vous dès aujourd'hui pour commencer votre recherche de logement de manière efficace !</p>
      </div>
    </div>
  </div>


<!-- End page content -->
</div>
  </div>