/* product-details.component.css */

.card-title {
    color: black; /* Couleur noire pour le titre principal */
  }
  
  /* Styles personnalisés */
  
  .container {
    max-width: 800px; /* Limite la largeur du contenu */
  }
  
  .colorful-heading {
    color: #1709db; /* Couleur vert pistache pour le titre */
  }
  
  .green-text {
    color: #66bb6a; /* Couleur vert pistache pour le texte */
  }
  
  .black-text {
    color: black; /* Couleur noire pour le texte */
  }
  
  .blue-text {
    color: blue; /* Couleur bleue pour le texte */
  }
  